.button2-left .add_attachment { 
	background: url(../images/add_attachment_button_rtl.png) 0 0  no-repeat; 
}

div#editor-xtd-buttons div.btn-toolbar i.icon-add_attachment {
	background: url(../images/add_attachment_button_small_rtl.png) 0 0 no-repeat;
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
