*~
*.zip
*.xcf
#*#
/*permissions.ods*
/.directory
/.workspace
/_Checklist.org
/_Checklist.txt
/_tests.*
/base_nums.pickle
/base_nums.py
/diffs
/docerrs.log
/fixerrnums.py
/temp
/unerrnum
/watch*
/vendor
/node_modules