/* Styles for the main list of attachments in the administrative back end */

form.attachmentsBackend * {
	float: none;
}

form.attachmentsBackend,
form#adminForm 
{
	font-size: 1.2em;
}

div#element-box div.m form#adminForm table#attachmentsList tr td a {
	font-size: 85%;
}

form#adminForm div.attachments_filter { 
	padding: 0 0 2px 6px;
}

form#adminForm button#reset_order {
	margin: 0 0 0 6em;
}

form#adminForm div.attachments_filter table,
form#adminForm div.attachments_filter tbody,
form#adminForm div.attachments_filter tr,
form#adminForm div.attachments_filter td { 
	padding: 0;
	margin: 0;
}

form#adminForm input[type=checkbox] {
	vertical-align: middle;
}

table.adminlist th { 
	text-align: left;
	border-bottom: 0; 
}
table.adminlist th.at_published	   { text-align: center; }
table.adminlist th.at_filename	   { text-align: left; }
table.adminlist th.at_description  { text-align: left; }
table.adminlist th.at_access	   { text-align: center; }
table.adminlist th.at_user_field   { text-align: left; }
table.adminlist th.at_file_type	   { text-align: center; }
table.adminlist th.at_file_size	   { text-align: center; }
table.adminlist th.at_creator_name { text-align: center; }
table.adminlist th.at_created      { text-align: center; }
table.adminlist th.at_mod_date	   { text-align: center; }
table.adminlist th.at_downloads	   { text-align: center; }

table.adminlist td { 
	text-align: left;
	border-bottom: 0; 
}

table.adminlist img#link {
	margin-left: -16px;
}

table.adminlist td.at_filename { 
	text-align: left; 
	font-size: 125%; 
}
table.adminlist td.at_filename a img { 
	vertical-align: text-bottom; 
}

table.adminlist td.at_published	   { text-align: center; }
table.adminlist td.at_description  { text-align: left; }
table.adminlist td.at_access	   { text-align: center; }
table.adminlist td.at_user_field   { text-align: left; }
table.adminlist td.at_file_type	   { text-align: center; }
table.adminlist td.at_file_size	   { text-align: center; }
table.adminlist td.at_creator_name { text-align: center; }
table.adminlist td.at_created      { text-align: center; }
table.adminlist td.at_mod_date	   { text-align: center; }
table.adminlist td.at_downloads	   { text-align: center; }


table.adminlist td.at_parentsep {
	height: 0.8em;
	background-color: #DDD;
	border-top: 1px solid #999;
	border-bottom: 1px solid #BBB;
	font-weight: bold;
}

span.error {
	color: #FF0000;
	font-style: italic;
	font-size: 110%;
}


table.adminlist td.showlinks a { 
	font-size: 110%;
	font-weight: bold;
	text-align: center; 
}



/* For the link to download a file */

a.downloadAttach  {
	margin-left: 0px;
	font-size: 80%;
	color : #F00; 
	text-decoration: none; 
}
a.downloadAttach:link	 { color : #F00; text-decoration: none; }
a.downloadAttach:visited { color : #F00; text-decoration: none; }
a.downloadAttach:hover	 { color : #F00; text-decoration: underline; }
a.downloadAttach:active	 { color : #F00; text-decoration: none; }



/* For the link to add another attachment to an parent */

a.addAttach	  { 
	font-weight: normal;
	color: #F00;
	text-decoration: none;
}
a.addAttach:link	{ color : #F00; text-decoration: none; }
a.addAttach:visited { color : #F00; text-decoration: none; } 
a.addAttach:hover	{ color : #F00; text-decoration: underline; }
a.addAttach:active	{ color : #F00; text-decoration: none; } 

a.addAttach img {
	vertical-align: text-bottom;
}


/* Styles for attachments admin */
div.attachmentsAdmin {
	margin-left: 20px;
	margin-top: 20px;
}

div.attachmentsAdmin h1 {
	line-height: normal;
	font-size: 200%;
	font-weight: bold;
	color: #000088;
}

div.attachmentsAdmin h2 {
	line-height: normal;
	font-size: 150%;
	font-weight: bold;
}

div.attachmentsAdmin li a	  { padding: 2px; }
div.attachmentsAdmin li a:link	  { color: #0000FF; text-decoration: none; }
div.attachmentsAdmin li a:hover	  { 
	color: #0000FF; text-decoration: none; 
	background-color: #DDDDDD;
	}
div.attachmentsAdmin li a:visited { color: #0000FF; text-decoration: none; }
div.attachmentsAdmin li a:active  { color: #0000FF; text-decoration: none; }

div#componentVersion {
	font-style: italic;
	font-size: 1.2em;
	float: right;
}

##F00border {
	border: 1px solid #F00;
}

/* For the link to change the article */

td#key_article {
	padding-top: 8px;
	padding-bottom: 8px;
}

a.changeButton	{
	padding: 1px 4px 1px 4px;
	margin-left: 12px;
	font-size: 95%;
	color : #333333;
	text-decoration: none;
	background-color: #CCCCCC;
	border: 1px solid #888888;
}
a.changeButton:link	   { color : #333333; text-decoration: none; }
a.changeButton:visited { color : #333333; text-decoration: none; }
a.changeButton:hover   { color : #333333; text-decoration: none; background-color: #DDDDDD; }
a.changeButton:active  { color : #333333; text-decoration: none; }

a.modal-button {
	padding-top: 1px;
	padding-top: 1px;
	padding-left: 4px;
	padding-right: 4px;
	color: #333333;
	background-color: #CCCCCC;
	border: 1px solid #888888;
	font-weight: bold;
}

a.modal-button:link    { color: #333333; text-decoration: none; }
a.modal-button:hover   { color: #333333; text-decoration: none; background-color: #DDDDDD; }
a.modal-button:visited { color: #333333; text-decoration: none; }
a.modal-button:active  { color: #333333; text-decoration: none; }


/* For the upload attachment form */

form.attachmentsBackend {
	margin: 0 0 8px 0;
}

form.attachmentsBackend fieldset,
form.attachmentsBackend td > fieldset.radio {
	margin: 0;
}

form.attachmentsBackend fieldset.adminform table.admintable td label,
form.attachmentsBackend fieldset.adminform table.admintable td input[type="radio"],
form.attachmentsBackend fieldset.adminform table.admintable td input[type="checkbox"]
{
	float: none;
	padding: 0;
	margin: 0 0 0 1em;
	display: inline;
}

form.attachmentsBackend fieldset.adminform table.admintable td input[type="checkbox"] {
	margin: 0 0 0 0.25em;
}

form.attachmentsBackend fieldset.adminform table.admintable td label {
	font-size: 1.1em;
}


form.attachmentsBackend fieldset.adminform table.admintable td label.radiobtn {
	float: none;
	min-width: 0em;
	padding: 0;
	margin: 0 1em 0 0;
	display: inline;
}


form.attachmentsBackend legend {
	font-size: 140%;
	font-weight: bold;
}


form.attachmentsBackend input {
	float: none;
	border: 1px solid #888;
	color : #333333;
	background-color: #CCC;
	margin: 2px;
}

form.attachmentsBackend input[type="text"] {
	background-color: transparent;
}

form.attachmentsBackend input#parent_title {
	background-color: #BBB;
	color: #555;
}


form.attachmentsBackend select.inputbox {
	background-color: #DDD;
}

form.attachmentsBackend input[type="button"], 
form.attachmentsBackend input[type="submit"],
{
	font-size: 1.3em;
	font-weight: bold;
	border: 1px solid #666; 
}

form.attachmentsBackend span.right {
	float: right;
}

form.attachmentsBackend table.admintable {
	padding: 4px;
	border: 1px solid #CCC;
}

form.attachmentsBackend table.admintable td {
	padding-right: 8px;
	vertical-align: middle;
}

form.attachmentsBackend table.admintable td span {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

form.attachmentsBackend table.admintable td span.optional {
	vertical-align: inherit;
	margin-left: 10px;
}


form.attachmentsBackend table.admintable td.key,
form.attachmentsBackend table.admintable td.key2 {
	background-color: #DADAF0;
	color: #444;
	width: 12em;
	padding: 0 4px 0 4px;
	margin: 2px 0 2px 0;
	vertical-align: middle;
	text-align: right;
}

form.attachmentsBackend table.admintable td.key2 {
	width: 8em;
}

form.attachmentsBackend table.admintable td.switch {
	padding: 0 4px 0 10px;
	border: 1px solid #CCC;
}

form.attachmentsBackend table.admintable td.at_title {
	-- max-width: 18em;
}


form.attachmentsBackend fieldset.adminform label {
	vertical-align: middle;
	text-align: right;
}

form.attachmentsBackend fieldset.adminform label#upload_file_label {
	display: inline-block;
        margin-top: 1.2em;
}

div.attachmentsBackendTitle h1 {
	font-size: 1.5em;
	color: #05B;
	margin: 0;
	padding: 0 0 4px 0;
}

div.attachmentsBackendTitle h2 {
	font-size: 1.25em;
	color: #05B;
	margin: 0;
	padding: 0 0 6px 0;
}

input#upload, input#upload_warning {
	margin-top: 4px;
}

div#attachmentsPotentialParents {
	margin: 2em 0 0 0;
	font-size: 1.2em;
}

div.attachmentsList {
	font-size: 1.1em;
}

/* Small fixes for form to edit parameters */

input#paramsregister_url {
	width: 100%;
}

input#paramshide_attachments_for {
	width: 100%;
}

dl#config-tabs-com_attachments_configuration h3 {
    font-size: 1.4em;
}


dl#config-tabs-com_attachments_configuration > dt {
    background-color: #CACACA;
}

dl#config-tabs-com_attachments_configuration > dt.open {
    background-color: transparent;
}

dl#config-tabs-com_attachments_configuration > dt.open h3 {
    font-weight: bold;
}

ul#attachments-options {
    font-size: 1.2em;
}

ul#attachments-options > li label,
ul#attachments-options > li select,
ul#attachments-options > li textarea,
ul#attachments-options > li input,
ul#attachments-options > li > fieldset.radio
{
	float: none;
	display: inline-block;
	min-width: 2.75em;
}

ul#attachments-options > li {
	background-color: #E0E0E0;
	margin: 3px 0 3px 0;
}

ul#attachments-options > li textarea,
ul#attachments-options > li select {
	vertical-align: middle;
}

ul#attachments-options > li > label {
	min-width: 20em;
	width: 20em;
	text-align: right;
	padding: 0 8px 0 0;
	margin: 0 2px 4px 0;
}


ul#attachments-options > li > label#jform_rules-lbl {
    display: none;
}

ul#attachments-options div#permissions-sliders {
    margin: 4px 0 0 0;
}

form#component-form p.tab-description {
    font-size: 150%;
    margin: 0 0 0 0;
}

ul#attachments-options div.pane-sliders p {
    margin: 0 0 4px 0;
}

fieldset#jform_download_mode label {
	width: 4em;
}

/* For warning dialog */

div.attachmentsWarning {
    padding: 10px;
    margin: 20px;
}

div.attachmentsWarning h1 {
    line-height: normal;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
    color: #F00;
    border-bottom: 1px solid #DDD;
}

div.attachmentsWarning h2 {
    line-height: normal;
    font-size: 175%;
    font-weight: bold;
    text-align: center;
    margin: 1em 0 1em 0;
}

*
div.attachmentsWarning input[type="button"], 
div.attachmentsWarning input[type="submit"]
{
	font-size: 1.3em;
	font-weight: bold;
	border: 1px solid #666; 
	background-color: #DDD;
}


div.attachmentsWarning span.left {
    width: 8em;
    float: left;
}

div.attachmentsWarning span.right {
    width: 8em;
    float: right;
}


/* For icons */

.icon-48-attachments  { background-image: url(attachments_logo48.png); }

.icon-16-attachments  { background-image: url(attachments.png); }

.icon-32-adminUtils   { background-image: url(attachments_utils32.png); }
